body{
    font-family: 'Poppins', sans-serif;
   margin:0;
}
h1{
    font-size: 50px;
}
#name{
    color:orange;
}
section{
    display:flex;
}
.half-width{
    width:50%;
    padding-left: 5%;
}
.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    padding:8px 35px;
    border-radius: 5px;
    color:white;
    font-weight: 700;
    background-image:linear-gradient(orange,tomato);
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}